
#total {
  margin:5%;
}

.tmp-img {
  margin:15%;

}

.data-img {
  border-radius:15px;

}

.data-img:hover {
  cursor:zoom-in;
}

#img-card {
  margin: 5%;

}

.img-list {
  display: flex;
  justify-content:center;
}

.result {
  margin-top:50px;
  margin-bottom:40px;
  width: 100%;

}

.result-box {
  
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

}

.result-img {
  height:200px;
  margin:20px 10px 0px 10px;
  border-radius: 15px;
  opacity: 1;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}




.result-img:hover {
  filter:brightness(60%);
  cursor:zoom-in;
}



.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-definition {
  display: flex;
  justify-content: center;
}

.result-font {
  margin: 50px 50px 20px 50px;
  text-overflow: ellipsis;

}

.bar{
  display: flex;
  justify-content: end;
  width:50vw;
  min-width: 250px;
  border-radius:10px;
  background-color: white;
  border:1px solid #dcdcdc;
}

.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  margin-left:20px;
  height:43px;
  border:none;
  width:45vw;
  font-size:16px;
  outline: none;
  background-color: transparent;  
}

.searchbar-landing {
  /* position: absolute; */
  top: 50vh;
  right: 50vw;
}

.button{
  border:none;
  font-size:15px;
  /* padding:10px 20px; */
  /* margin:5px; */
  border-radius:4px;
  outline:none;
}
.button:hover{
  /* padding: 9px 19px; */
  color:#808080;
  outline: none;
  border: none;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}

.buttonIcon{
  border: none;
  outline: none;
}


.top-img {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/orion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-landing {
  color: white;
}


.navbar{
  background-image: url(../image/orion.jpg);
  /* background-image: url(../image/mountains.jpg); */
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  height: 10vh;
  min-height: 60px;
  background-position: center;
  background-size: cover;
  margin:0px 0px 20px 0px;
  display: flex;
  justify-content: space-between !important;
}

.navbar > p{
  margin: 0;
}

.flip-card {
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card:active{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {

  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.flip-card-front {
  position: absolute;
  color: black;
  z-index: 2;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.img-back {
  filter: brightness(30%);
  transform: scaleX(-1);
}


.image-title {
  position: absolute;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
}

.delete-button {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button:hover {
  opacity: 1;
  color: red;
  cursor: pointer;
}


.result-container2 {
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  outline: none;
}

.result-background2 {
  width: 60vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.result-img3 {
  height:40vh;
  max-width:50vw;
  object-fit: cover;
  margin:20px 10px 0px 10px;
  border-radius: 15px;
  opacity: 1;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.result-font {
  margin: 30px 50px 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.word-title {
  font-size: 2em;
  margin: 0px 0px 0px 0px;
}

.word-content {
  font-size: 1.25em;
  margin: 5px 0px 0px 0px;

}

/* 유저의 단어 버튼 */
.btnDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nextBtn{
 position: absolute;
 right: -30px;
 top: 50%;
 cursor: pointer;
}
.prevBtn {
  position: absolute;
  left: -30px;
  top: 50%;
  cursor: pointer;
}
/* 유저의 단어 버튼 */


.result-image {
  /* width:70vw;   박종민 수정함 */
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-control-prev-icon{
  background: black;
  border-radius: 50%;
 }
 
 .carousel-control-next-icon{
  background: black;
  border-radius: 50%;
 }

 /* 삭제 모달 */
 .deleteModal{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteBox{
  width: 25vw;
  min-width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.deleteBtns{
  position: relative;
  bottom: -15%;
  display: flex;
  justify-content: center;
 }
 /* 삭제 모달 */


 .login {
  margin-right: 20px;
  
 }

 .top-button {
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: white;
  background-image: url(../image/orion.jpg);
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
 }
.result-background {
  width: 55vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.section {
  height:30vh;
  max-width:50vw;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 15px;
}
.save:hover {
  cursor: pointer;
}
.section:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}
.section:hover .save {
  opacity: 0.5;
}
.save {
  position: absolute;
  border: none;
  color: #fff;
  opacity: 0;
  width: 100px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
.section:hover .save:hover{
  opacity: 1;
}
.box-1 {
  height:30vh;
  max-width:50vw;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}